# Regression to the mean

In [1]:
# Import seaborn with alias sns
import seaborn as sns
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt
#import pandas 
import pandas as pd
# import statsmodels
from statsmodels.formula.api import ols

In [2]:

# Importing the course arrays
conversion = pd.read_csv("../datasets/ad_conversion.csv")
churn = pd.read_csv("../datasets/churn.csv")
fish = pd.read_csv("../datasets/fish.csv")
sp500 = pd.read_csv("../datasets/sp500_yearly_returns.csv")
taiwan = pd.read_csv("../datasets/taiwan_real_estate2.csv")
taiwan_real_estate= taiwan

In [6]:
taiwan

     dist_to_mrt_m  n_convenience house_age_years  price_twd_msq
0         84.87882             10        30 to 45      11.467474
1        306.59470              9        15 to 30      12.768533
2        561.98450              5         0 to 15      14.311649
3        561.98450              5         0 to 15      16.580938
4        390.56840              5         0 to 15      13.040847
..             ...            ...             ...            ...
409     4082.01500              0         0 to 15       4.659607
410       90.45606              9         0 to 15      15.128593
411      390.96960              7        15 to 30      12.284418
412      104.81010              5         0 to 15      15.885023
413       90.45606              9         0 to 15      19.334342

[414 rows x 4 columns]